#calc-div {
    width: 800px;
}

input {
    background-color: #313131;
    color: #fff;
    font-size: 34px;
    text-align: right;
    padding-right: 8px;
    width: 269px;
    height: 80px;
    border-style: none;
    border: 1px solid #fa6956;
}
button {
    background-color: #313131;
    color: #fa6956;
    font-weight: bold;
    border: 1px solid #fa6956;
    width: 70px;
    height: 70px;
}

button:hover {
    color: #72bdb3;
    border: 1px solid #72bdb3;
}

#equal-button {
    width: 280px;
}